# General:
pip==19.3.1
setuptools==42.0.1
numpy==1.19.2
lxml==4.6.5
scipy==1.5.2
pandas==0.25.3
scikit-learn==0.22.2

# Script parsing:
pdfminer.six==20181108
beautifulsoup4==4.8.1

# Natural language processing:
nltk==3.4.5
SpeechRecognition==3.8.1
google-cloud-speech==1.2.0

# Video/Audio processing:
moviepy==1.0.1
opencv-python==4.1.2.30
pydub==0.23.1

# Progress bar:
tqdm==4.45.0
